{% include "personal-header.twig" %}

<div class="container">
    <h1>Здравствуйте {{ name }}</h1>
    <p>список всех загруженных файлов</p>
    <table class="table table-bordered">
        <tr>
            <th>Название файла</th>
            <th>Фотография</th>
            <th>Имя пользователя</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.url }}</td>
                <td><img src="/img/{{ user.url }}" alt=""></td>
                <td>{{ user.user_name }} </td>
            </tr>
        {% endfor %}
    </table>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/main.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
